body {
    margin: 10px;
}

.submit-comments {
    margin-right: 5px;
}

.fetch-comments {
    margin-left: 5px;
}

.comment-form {
    margin-bottom: 10px;
    width: 36%;
}

.comment-section {
    margin-top: 70px;
}

.auth-button {
    float: right;
}